    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id="copyright" class="pull-right">
                    {{ .Site.Copyright }}
                </div>
            </div>
        </div>
    </div>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/readmore.min.js"></script>
    <script src="/site.js"></script>
</body>
</html>
