{{ partial "header.html" }}

<div id="header" class="jumbotron">
    <img id="logo" class="img-responsive" src="img/aaalogo.png"
         alt="AAA Air Conditioning">
     <div id="license">
        AL License #06081
    </div>

<div class="container-fluid">
    <div class="row">
    <div id="jumbotron-spacer" class="col-xs-12"></div>
    </div>
    <div class="row">
    <div id="jumbotron-spacer" class="col-xs-12"></div>
    </div>

    <!-- geolocation notification -->
    <div class="row">
        <div class="col-sm-4 col-xs-2">
        </div>
        <div id="phone-alert" class="alert alert-info col-xs-8 col-sm-4" role="alert">
            <div class="row">
                <div id="col-phone" class="col-xs-2">
                    <i class="glyphicon glyphicon-phone-alt"></i>
                </div>
                <div class="col-xs-10 visible-xs-block">
                    Call <strong id="label-phone">\2</strong> now<br>
                    <strong id="label-city">\1</strong> service area
                </div>
                <div class="col-xs-10 hidden-xs">
                    Hello! Looks like you're near <strong id="label-city">\1</strong>!<br>
                    Call us at <strong id="label-phone">\2</strong> and we can help you!
                </div>
            </div>
        </div>

        <!-- The following html replaces the above if geoip lookup fails. -->
        <div id="phone-alert-fail" class="hide">
            <div class="row">
                <div id="col-phone" class="col-xs-2">
                    <i class="glyphicon glyphicon-phone-alt"></i>
                </div>
                <div class="col-xs-10">
                    Give us a call for a free estimate<br>
                    <strong id="label-city">Daphne, AL</strong> &mdash;
                    <strong id="label-phone">251-626-5588</strong><br>

                    <strong id="label-city">Lagrange, GA</strong> &mdash;
                    <strong id="label-phone">706-845-0070</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-2"></div>
    </div>

    <!-- Testimonials -->
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
        <div id="quotes" class="col-xs-10 col-sm-8 col-md-6 text-center panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    We believe our business thrives when our customers are happy.
                </h3>
            </div>
            <div id="testimonials" class="panel-body">
                {{ range .Site.Data.testimonials.quotes }}
                <div class="quote">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    &mdash;
                    &ldquo;{{ .quote }}&rdquo;
                </div>
                {{ end }}
            </div>
        </div>
        <div id="bestof" class="col-xs-12 col-md-3">
            <a href="https://homeguide.com/central-air-conditioning-repair"
                title="Air Conditioning Repair Companies" target="_blank">
                <img src="https://cdn.homeguide.com/assets/images/tmp/homeguide-2018.png"
                    alt="Air Conditioning Repair Companies"></img>
            </a>
        </div>
    </div>
    </div>
</div>

<div class="navbar navbar-default" id="nav">
    <div>
        <ul class="nav navbar-nav nav-pills">
            <li><a href="#contact">Contact</a></li>
            {{ range .Site.RegularPages }}
            <li><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>

<!-- Contact form -->
<div id="section-container" class="container-fluid">
    <div class="row color-row">
        <a name="contact"></a>
        <div class="section">
            <h2> Contact Us </h2>
            <div id="contact-alert-container">
                <div id="contact-alert-tmpl" class="alert alert-dismissible hide"
                     role="alert">
                    <div class="row">
                        <div class="col-xs-11">\1</div>
                        <button type="button" class="col-xs-1 close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <form id="contact-form" class="input-group col-sm-12" method="POST">
                <input id="contact-name"
                       class="col-xs-12 col-sm-4 form-control" type="name" name="name"
                       placeholder="Your Name">
                <input id="contact-phone"
                       class="col-xs-12 col-sm-4 form-control" type="phone" name="phone"
                       placeholder="Phone Number">
                <input id="contact-email"
                       class="col-xs-12 col-sm-4 form-control" type="email" name="email"
                       placeholder="Email Address">
                <input type="hidden" name="_subject" value="New message from 3aair.com">
                <input type="text" name="_gotcha" style="display: none;">
                <input type="hidden" name="_cc" value="3aairdev+f@gmail.com">
                <div id="location-container" class="hide input-group">
                    <div for="location-dropdown"
                         class="input-group-addon">Location:</div>
                    <select id="location-dropdown"
                            class="col-xs-6 form-control" name="location">
                        <option value="AL">Daphne, AL</option>
                        <option value="GA">Lagrange, GA</option>
                    </select>
                </div>
                <textarea id="contact-message"
                          class="col-xs-12 form-control" rows="5"
                          name="message" ></textarea>
                <button id="contact-send" class="btn btn-lg btn-success pull-right"
                        type="button">Send</button>
            </form>
        </div>
    </div>

    <div class="row color-row">
        <div id="ruud-buyers-guide" class="section">
            Read the
            <a href="https://www.pickhvac.com/heat-pump/ruud/">
                2018 Ruud Heat Pump Buyer's Guide
                <span class="source">(pickhvac.com)</span>
            </a>
        </div>
    </div>
    <!-- Sections generated from Markdown -->
    {{ range .Site.RegularPages }}
    <div class="row color-row">
        <a name="{{ .Params.id }}"></a>
        <div class="section">
            <h2> {{ .Title }} </h2>
            {{ .Content }}
        </div>
    </div>
    {{ end }}
</div>

<div class="container">
    <div class="col-sm-12 color-row text-center">
        <ul class="list-inline center-block">
            <li><a href="https://www.facebook.com/pages/AAA-Air-Conditioning/112135145867">
                <img src="/img/soc_fb.png"></a></li>
            <li><a href="http://twitter.com/3aair"><img src="/img/soc_tw.png"></a></li>
        </ul>
        <span><i>Follow us on social media</i></span>
    </div>
</div>
{{ partial "footer.html" . }}
